* {
  box-sizing: border-box;
}

section {
  display: block;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

header {
  padding: 38px 0;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 1px;
  background-color: rgba(255,255,255,.15);
}

nav {
  width: 600px;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 71px;
  margin-top: 155px;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  color: #2d3033;
  margin: 30px 0 20px
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
}

button {
  width: 200px;
  padding: 18px 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #e84545;
  border: 0;
  border-radius: 2px;
  align-self: center;
  cursor: pointer;
  transition: background-color .3s
}

button:hover {
  background-color: #d13c3c
}

address {
  max-width: 175px;
  margin: 0 auto;
}

figure {
  margin: 0;
}

.col-12 {
  max-width: 1170px;
  margin: 0 auto;
}

.col-9 {
  max-width: 920px;
  margin: 0 auto;
}

.flex-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.flex-row {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  opacity: .75;
  transition: all .3s;
}

.nav-link:hover {
  opacity: 1;
}

.main {
  position: relative;
  z-index: 1;
  padding-bottom: 116px;
}

.main-wrapper {
  position: relative;
}

.main-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #2b2e4a;
  opacity: .95;
}

.main-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background: url(image/main_bg.jpg) no-repeat;
  background-size: cover;
}

.main-desc {
  margin: 40px 0 80px;
  font-size: 22px;
  line-height: 33px;
  color: #fff;
  text-align: center;
}

.adven {
  padding-top: 115px;
  flex-wrap: wrap;
}

.adven-item {
  width: 33%;
  margin-bottom: 70px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center
}

.adven-desc {
  color: #6c7279;
  text-align: center;
  line-height: 21px;
  padding: 0 40px;
  margin: 0;
}

.photo {
  flex-wrap: wrap;
  padding-top: 115px
}

.photo-item {
  position: relative;
  width: 25%;
}

.photo-item img {
  width: 100%;
  height: 100%;
}

.photo-item:hover .photo-info{
  opacity: 1;
  visibility: visible;
}

.photo-info {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-color: rgba(232, 69, 69, 0.9);
  cursor: pointer;
  transition: all .3s
}

.contacs {
  padding: 65px 0;
  background-color: #3a3e64;
}

.contacs-item {
  flex-basis: 350px;
  text-align: center;
}

.contacs-item address {
  font-style: normal;
}

.contacs-item h3,
.contacs-item p,
.contacs-item address{
  color: #fff;
}

.contacs-item p,
.contacs-item address {
  opacity: .5;
  line-height: 23px;
}

.copy {
  padding: 25px 0;
  background-color: #313454;
}

.copy p{
  max-width: 320px;
  margin: 0 auto;
  color: grey;
  text-align: center;
  line-height: 23px;
}

.author {
  color: #fff;
  text-decoration: none;
}

.author:hover {
  text-decoration: underline;
}

.heart {
  color: #e84545;
}

.social-icons {
  align-items: center;
  justify-content: center;
}

.icon {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.facebook-icon,
.twitter-icon,
.linkedin-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: url(image/icon_sprite.png) no-repeat;
}

.icon-footer {
  border: 2px solid #fff;
  margin: 3px;
  border-radius: 2px;
}

.icon-footer:hover {
  background-color: #fff
}

.icon-footer .facebook-icon { background-position: 50% 0px }
.icon-footer .twitter-icon  { background-position: 50% -75px }
.icon-footer .linkedin-icon { background-position: 50% -150px }

.icon-footer:hover .facebook-icon { background-position: 50% -25px }
.icon-footer:hover .twitter-icon  { background-position: 50% -100px }
.icon-footer:hover .linkedin-icon { background-position: 50% -175px }

.team {
  margin: 100px 0 130px;
}

.team-item {
  flex-basis: 270px;
}

.team-name {
  color: #2d3033;
  font-size: 22px;
  margin: 30px 0 15px;
  font-weight: 400;
}

.team-position {
  color: #e84545;
  font-size: 13px;
  text-transform: uppercase;
}

.team-description {
  line-height: 21px;
  color: #6c7279;
  margin: 30px 0;
}

.team-social {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.icon-team {
  border: 1px solid #e8ecee;
  margin-right: 4px;
}

.icon-team:hover {
  background-color: #e8ecee;
}

.icon-team:last-child {
  margin-right: 0;
}

.icon-team .facebook-icon { background-position: 50% -50px }
.icon-team .twitter-icon  { background-position: 50% -125px }
.icon-team .linkedin-icon { background-position: 50% -200px }

.icon-team:hover .facebook-icon { background-position: 50% 0px }
.icon-team:hover .twitter-icon  { background-position: 50% -75px }
.icon-team:hover .linkedin-icon { background-position: 50% -150px }


.section {
  padding: 100px 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before{
  display: table;
  content: " ";
}

.container:after{
  display: table;
  content: " ";
  clear:both;
}

.text-center{
  text-align: center;
}

.col-md-8 {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.download h3 {
  margin-top: 0;
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: 1.1;
}

.download p {
  color: #2d3033;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22.4px;
  margin: 0 0 10px;
}

.download #btn {
  margin-top: 30px;
  padding: 15px 40px;
  background-color: #e84545;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
}
